@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "sidepanel.css";
@import "mainpanel.css";

html, body {
    background: linear-gradient(
    135deg, #00FFC2, #00C2FF
    );
    padding: 1em;
    font-family: 'Montserrat', sans-serif;
}