.main {
    display: flex;
    flex-direction: column;
    background: white url("assets/Vector.svg") no-repeat bottom right;
    height: 100%;
}

.padding_div {
    background-color: none;
    padding: 6em 4em 4em 4em;
}

.padding_div h1 {
    font-size: 64;
    font-weight: bold;
    margin-bottom: 1em
}

.padding_div p {
    margin-bottom: 3em;
    font-size: 24;
}

.padding_div button {
    background-color: #02DDDE;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24;
    color: white;
    padding: 1em 3em 1em 3em;
    border-radius: 10px;
    filter: drop-shadow(8px 8px 0px black);
}

.padding_div button:hover {
    filter: brightness(80%) drop-shadow(8px 8px 0px black);
}

.main img {
    display: flex;
    object-fit: contain;
    width: 50%;
    height: 50%;
    position: absolute;
}